.signContainer {
  display: inline-block;
}
.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8cm;
  height: 8cm;
  padding: 0.25cm;
  border: 1px solid black;
  margin: 0.25cm;
}
.signrow {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 8cm;
  height: 8cm;
  padding: 0.25cm;
  border: 1px solid black;
  /* todo: smaller margin for small signs, maybe only 1 mm or some percentage */
  margin: 0.25cm;
}
.sign__text {
  text-align: center;
  margin: 0 0 0.25cm 0;
}
  .sign__text--DE {
    font-size: 20pt;
  }
  .sign__text--EN {
    font-size: 16pt;
  }
.sign__flexSpacer {
  flex-grow: 1;
}
.sign__image {
  max-width: 100%;
  object-fit: contain;
}
.sign__location {
  font-size: 8pt;
  text-align: right;
  align-self: flex-end;
  margin: 0.25cm 0 0 0;
}
