<!-- signContainer used to put all the actual sign stuff into an
'inline-block' div. There is a long-term bug with Firefox
https://bugzilla.mozilla.org/show_bug.cgi?id=939897 which truncates
content from 'flex' containers which exceed the printed page size -->
<div class="signContainer">
  <div class="signrow" style="{style-sign}">
    <div style="flex-direction: column; display: flex;">
      <div class="sign__flexSpacer"></div>
      <p class="sign__text sign__text--DE" style="{style-german} text-align: left;">{german}</p>
      <p class="sign__text sign__text--EN" style="{style-english} text-align: left;">{english}</p>
      <div class="sign__flexSpacer"></div>
      <p class="sign__location" style="text-align: left;">{location}</p>
      <!-- flex spacers used both sides of image to center vertically -->
    </div>
    <div class="sign__flexSpacer"></div>
    <img class="sign__image" src="{image}" />
    <div class="sign__flexSpacer"></div>
    </div>
    </div>